body {
  background: #fff;
  color: #333;
  font-size: 14px;
  line-height: 25px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
  font-weight: 400;
}

.form-group.required .control-label:after {
  content: " *";
  color: red;
}

nav.logo-header {
  background-image: url("/images/bg.png");
  color: #B3994C;
}

.navbar-brand {
  padding-top: 0px !important;
}

.navbar-brand > img {
  /*height: 75px !important;*/
}

div.current-date-time {
  color: #B3994C;
}

ul.nav.navbar-nav li {
  /*background: #B3994C;*/
  /*margin-right: 15px;*/
}

ul.nav.navbar-nav li a:hover, ul.nav.navbar-nav li a:active, ul.nav.navbar-nav li a:focus {
  color: #FFF;
  background:none;
  /*text-decoration: underline;*/
}

.btn:not(.btn-raised).btn-inverse, .input-group-btn .btn:not(.btn-raised).btn-inverse {
  color: #FFF;
  background-color: #B3994C;
}

.btn-group.open > .dropdown-toggle.btn.btn-inverse, .btn-group-vertical.open > .dropdown-toggle.btn.btn-inverse {
  background-color: #96803F;
}

.btn-group.open > .dropdown-toggle.btn.btn-inverse, .btn-group-vertical.open > .dropdown-toggle.btn.btn-inverse span {
  color: #FFF;
}

.btn:not(.btn-raised):not(.btn-link):hover {
  color: #FFF;
  background-color: #96803F;
}

.dropdown-menu li a:hover {
  color: #96803F;
}

.btn:not(.btn-raised):not(.btn-link):hover, .input-group-btn .btn:not(.btn-raised):not(.btn-link):hover, .btn:not(.btn-raised):not(.btn-link):focus, .input-group-btn .btn:not(.btn-raised):not(.btn-link):focus {
  color: #FFF;
  background-color: #B3994C !important;
}

ul.nav.navbar-nav li a {
  color: #B3994C;
}

.nav img {
  width: 28px;
  height: 28px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar .navbar-nav > li > a {
  line-height: 28px;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 11px;
}

.navbar-brand {
  height: 81px;
  padding: 0;
}

.navbar-brand > img {
  /*display: block;
  margin-top: 5px;*/
}

.live-menu .navbar-nav > li > a {
  color: #676767;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 9px;
}
.live-menu .navbar-nav > li > a:hover{
  background:none !important;
}

.live-menu {
  padding-bottom: 15px;
  padding-top: 32px;
  overflow: hidden;
  display:block !important;
}

.current-date-time {
  color: #B3994C;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0px;
  padding-top: 36px;
}

.change-color-options {
  float: left;
}

.change_color {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  display: block;
  margin: 3px;
  float: left;
}

.color-text {
  display: block;
  width: 100px;
  height: 20px;
  float: left;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-top: 0;
}

.color-options {
  display: block;
  width: 105px;
  height: 20px;
  float: left;
}

.green {
  background-color: #009688;
}

.blue {
  background-color: #4285f4;
}

.orange {
  background-color: #ff5722;
}

.purple {
  background-color: #9c27b0;
}

.black {
  background-color: #212121;
}

.main-title {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-title h1 {
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.color {
  color: #009688;
}

.color-bg, .bg-color-hover:hover {
  /*background-color: #009688;*/
  background-image: url("/images/bg.png");
  color: #fff !important;
}

.border-color {
  border-color: #009688;
}

.dropdown-menu .left-icon img {
  border-radius: 5px;
  padding: 2px;
}

.main-content {
  /*background: rgba(0, 0, 0, 0.02);
  border-top: #ddd 1px solid;*/
  /*border-bottom: #ddd 1px solid;*/
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.border-content {
  background: rgba(0, 0, 0, 0.02);
  border: #ddd 1px solid;
  padding: 5px;
  margin: 5px auto;
  display: block;
}

.border-content img {
  width: 100%;
}

.search-form {
  background: #2e2e2e;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: hidden;
}

.search-form .navbar-toggle {
  float: none;
  left: 50%;
}

.form-group {
  margin-top: 0;
}

.form-group .form-control {
  background: #fff;
  padding-left: 5px;
}

.form-control {
  font-size: 13px;
}

.btn {
  margin: 0;
}

.input-group-addon {
  background-color: #eee !important;
  border-radius: 0px !important;
}

.input-group .form-control {
  margin-bottom: 0 !important;
}

.team-img-bg {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 2px;
}

#manage_events {
  font-size: 12px;
  font-weight: bold;
}

.date-data, .cont-nation {
  color: #333;
  text-transform: uppercase;
}

.time-content {
  color: #888;
}

.cont-flag, .flag {
  padding: 2px;
}

.cont-flag img, .flag img {
  width: 25px;
  height: 25px;
}

.color-red {
  color: #f44336;
}

.color-blue {
  color: #4285f4;
}

#manage_events table td {
  vertical-align: middle;
}

.footer, #footer {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index:2000;
}

.footer #footer-links {
  color: #FFF;
  /*font-weight: bold;*/
  font-size: 11px !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer #footer-links ul {
  font-size: 12px;
}

.footer #footer-links li {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer #footer-links li:after {
  padding-right: 5px;
  content: " | ";
  margin-right: 3px;
}

.footer #footer-links li.last_child:after {
  content: "" !important;
  margin-right: 0;
}

.footer #footer-links li.last {
  border: none;
}

.footer #footer-links li a {
  color: #FFF;
}

.footer #footer-links li a:hover {
  text-decoration: none;
}

.footer-heading {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 8px;
  padding-top: 15px;
  letter-spacing: 1px;
}

.footer-list {
  padding: 0;
}

.footer-list li {
  width: 40%;
  float: left;
  display: block;
}

.footer-list li a {
  color: #fff;
  font-size: 12px;
}

.footer-list li a::before {
  content: "\f105";
  font-family: "FontAwesome";
  margin-right: 8px;
}

.footable-row-detail-inner {
/ / width: 100 %;
}

.footable-row-detail-name {
  vertical-align: middle;
  padding-bottom: 10px;
}

.footable-row-detail-value {
  padding-bottom: 10px;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
}

#fillter-date .input-group-addon {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 2;
}

#fillter-date .form-control {
  padding-right: 30px;
  position: relative;
  z-index: 1;
}

.my-nations img {
  height: 40px;
  width: 40px;
}

.no-padding {
  padding: 0;
}

.small-img {
  width: 35px;
}

.competition-team-img {
  border-style: solid;
  border-width: 3px;
  padding: 40px;
}

.competition-team-img img {
  width: 100%;
}

.competition-team h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

.competition-info p {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}

.competition-info p .text-gray {
  color: #999;
}

.competition-vs {
  font-size: 100px;
  color: #666;
  margin-top: 70px;
  min-height: 100px;
}

.counter {
  min-height: 150px;
  text-align: center;
}

#countdown {
  color: #FFFFFF;
}

#countdown div {
  color: #E5E5E5;
  font-weight: normal;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  float: left;
  width: 20%;
}

#countdown div:first-child {
  margin-left: 6%;
}

#countdown div:last-child {
  margin-right: 6%;
}

#countdown div p {
  color: #666;
  font-size: 14px;
}

#countdown div .hours, #countdown div .days,
#countdown div .minutes, #countdown div .seconds {
  padding: 20px 10px;
  color: #fff;
  background: #212121;
  font-size: 26px;
}

.share-block {
  margin-bottom: 20px;
  color: #fff;
}

.share-block a.btn {
  padding: 20px 5px;
  width: 50px;
  margin: 0 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
}

.panel-heading {
  background-color: #B3994C;
  color: #FFF;
  font-weight: bold;
}

input.form-control {
  border: 1px solid #B3994C;
}

.btn-rss {
  background-color: #B3994C;
  color: #FFF !important;
  font-weight: bold;
}

.panel.panel-rss {
  border-color: #B3994C;
}

.form-group .form-control {
  background: #f0ebdb;
  padding-left: 5px;
  border: #d2c393 1px solid;
}

.form-horizontal .control-label {
  text-align: left !important;
}

.form-group label.control-label {
  font-size: 15px !important;
  
}

.panel.panel-rss > .panel-heading {
  background-color: #B3994C;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
  color: #FFF;
  font-weight: bold;
}

/* Home page */
#manage_events tbody tr {
  cursor: pointer;
}

/* Streams page */
.no_underline, .no_underline:hover {
  text-decoration: none !important;;
}

@media (max-width: 992px) {
  .live-menu .navbar-nav {
    float: right;
    display: block;
    padding-top:10px;
  }
  
  .live-menu .navbar-nav > li {
    float: left;
  }
  
  .current-date-time {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0;
  }
  
  .change-color-options {
    float: right;
  }
  
  .color-text {
    width: 100px;
  }
}

@media (max-width: 992px) and (min-width: 421px) {
  .nav img {
    width: 15px;
    height: 15px;
  }
  
  .navbar .navbar-nav > li > a {
    font-size: 11px;
    padding: 10px 8px;
  }
}

@media (max-width: 510px) {
  .country-name {
    display: block;
    float: left;
  }
  
  .flag {
    display: block;
    float: left;
  }
  
}

@media (max-width: 420px) {
  .navbar-brand img {
    width: 100%;
  }
  
  .live-menu {
    padding-top: 15px;
    padding-bottom: 5px;
    float: right;
  }
  
  .navbar-brand {
    height: 80px;
  }
  
  .change-color-options {
    float: right;
  }
  
  .color-text {
    float: right;
  }
  
  .color-options {
    float: right;
  }
  
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  
  .navbar-brand > img {
    /*margin: auto;*/
    width: auto;
  }
  
  .live-menu .navbar-nav {
    float: right;
    margin: auto;
  }
}
.live-menu .navbar-nav{
  width: auto !important;
}
.full-logo {
  width: 160px !important;
  height: 50px !important;
  background: none !important;
}

.full-logo img {
  margin-top: 10px !important;
  width: 120px !important;
}

.ad_number {
  position: relative;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    margin-left: -15px;
    width: calc(100% + 30px) !important;
  }
  
  body .new-result-container .count span {
    font-size: 70px;
    line-height: 70px;
    bottom: 0px;
  }
  
  body .new-result-container .logo-holder {
    padding: 10px;
  }
  
}

ul.parsley-errors-list {
  color: red;
  padding-left: 0px;
}

ul.parsley-errors-list li {
  list-style: none;
}

#manage_events tbody tr {
  cursor: pointer;
}

.game_minute {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    margin-left: -15px;
    width: calc(100% + 30px) !important;
  }
  
  body .new-result-container .count span {
    font-size: 70px;
    line-height: 70px;
    bottom: 0px;
  }
  
  body .new-result-container .logo-holder {
    padding: 10px;
  }
  
  .live-menu .navbar-nav {
    float: right;
  }
}

.filter .input-group > label {
  margin-top: 7px;
}

.label-gold-rss{
  background-color:#B3994C;
}
.matches_divider{
  background: #00222E;
  color: #b3994c;
  padding: 0 !important;
}
.matches_divider i{
  background: #b3994c;
  padding: 10px;
  color: #fff;
}
.matches_divider span{
  font-size: 20px;
  padding-left: 10px;
  font-weight: 400;
}
.parent_comment{
  border-left: 0 !important;
  padding: 0 !important;
}
.event-comments .media:not(.parent_comment){
  border-left: 2px solid #ddd !important;
}
.comment-meta *{
  vertical-align: top;
}
.media-body .comment_content{
  word-break: break-word;
  background: #f0ebdb;
  padding: 3px 5px;
  border-radius: 5px;
}
.media-heading .collapse_button{
  border: 0 !important;
}
.media-heading .user_name{
  padding: 4px 8px !important;
  background: #00222e !important;
  color: #b3994c;
  font-size: 10px;
}
#streams-table tbody *{
  vertical-align: middle;
}
#eventsTable tbody .count{
  background: #00222e;
  border-radius: 5px;
  padding: 2px 3px;
  color: #b3994c;
  position: absolute;
  top: -7px;
  left: 55px;
}
.stream_comments .ad_number:after{
  margin-top: 27px !important;
}
.media-body{
  display: inline-block !important;
  position: relative;
  width: 100%;
}
.done:hover, .vot:hover{
  cursor: pointer;
}

.btn-rss{
  position: relative;
}
.done, .vot{
  vertical-align: text-top;
}
.votes_count{
  font-size: 15px;
}
.event-comments .comment-meta{
  margin-bottom: 0px !important;
}
.streamCommentAdd{
  margin-top: 35px;
}
#comments-div .media:hover{
  border-left-color: #00222e !important;
}
.editable-input textarea{
  width: 100% !important;
}

ul.nav{ 
  float:right; 
}
.splitter a:hover { 
  color:#B3994C ; 
}
.spliter { 
  padding:7px 8px; 
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{ 
  background: none; 
}
.live_menu .dropdown-menu{
  background: #215e80 !important;
  min-width:30px;
}
.live-menu{ 
  display:block !important;
}
.live-menu .navbar-nav{ 
  float:right !important; 
}
.live-menu .navbar-nav > li > a{ 
  padding:10px 9px; 
}
.current-date-time{ 
  padding-top: 36px; 
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
@media (max-width: 992px) {
  .live-menu, .current-date-time {
    padding-top:10px;
  }
}
@media (max-width: 768px) {
  .live-menu .dropdown-menu{
    width:0 !important;
  }
}


.social-icons {
  padding-top: 40px;
  padding-left: 0;
}

.social-icons ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  /* float: left; */
  width: 140px;
  margin: auto;
  display: block;
}

.social-icons li {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  display: inline-block;
}

.social-icons a {
  color: #B3994C;
}

.no-padding-left {
  padding-left: 0;
}